<krossr-popup-content>
    <h2>You win!</h2>

    <krossr-button (click)="close()" uiSref="level" [uiParams]="{ levelId: data.levelId }" [uiOptions]="{ reload: true }" text="Retry"></krossr-button>
    <krossr-button (click)="newLevel()" text="New Level"></krossr-button>
</krossr-popup-content>