<krossr-async-content [isReady]="isReady">
    <section class="viewLevel" *ngIf="isReady">
        <krossr-level-editor-form [error]="error" [level]="level" submitText="Submit" (sizeChange)="createGameArray()" (submitAction)="submitCreate()">
        </krossr-level-editor-form>

        <div tabindex="0">
            <div class="gameContainer-inner">
                <div class="bottom row">
                    <krossr-game [gameMatrix]="gameMatrix" [gameSize]="gameSize"></krossr-game>
                </div>
            </div>
        </div>
    </section>
</krossr-async-content>